<div class="wrapper">
	<% @welcome_entries.each do |welcome_entry| %>
		<div class="well">
	  	<%= welcome_entry.title %>
	  </div>
		<hr>
	  <div class="well">
	  	<%= welcome_entry.description %>
	  </div>
	<% end %>
</div>