<% @galleries.each do |gallery| %> 
	<%# link_to edit_gallery_path(gallery) do %>
		<div class="gallery-index-wrap">
	  	<%= image_tag(gallery.image, class: "img-responsive gallery-index") %>
	  	<div class="gallery-index-middle">
				<%= link_to 'Wijzig Foto', edit_gallery_path(gallery), class: "gallery-index-text" %>
			</div>
	  </div>
	<%# end %>
<% end %>




