<% @galleries.each do |gallery| %> 
	<%# link_to edit_gallery_path(gallery) do %>
		<div class="gallery-index-wrap">
	  	<%= image_tag(gallery.image, class: "img-responsive gallery-index") %>
	  	<div class="gallery-index-middle">
				<div class="gallery-index-text">Wijzig Foto</div>
			</div>
	  </div>
	  <%= link_to 'Edit', edit_gallery_path(gallery) %>
	<%# end %>
<% end %>
<%= link_to 'Edit', edit_gallery_path(gallery) %>



