/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "gritter";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
	background-color: #bdd5e2;
	color: #24353e;
	font-family: "Gill Sans W04 Book", "Gill Sans", Helvetica, sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 960px) {
	.wrapper {
    max-width: 760px;
    }
}



/* Header */
@media only screen and (min-width: 600px) {
	.site-header span {
		display: block;
		padding: 25px 0;
    width: 500px;
    height: 245;
    margin: 0 auto;
	}
}



/* Navbar */

.pos-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-wrapper {
  padding: 0;
  padding-bottom: 30px;
}

.site-nav {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
  }

.site-nav a {
    position: relative;
    font-size: 13px;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 24px;
    color: #24353e;
    text-decoration: none;
}

.site-nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #24353e;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.site-nav a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media only screen and (min-width: 600px) {
	.site-nav li {
	  display: inline;
	  margin: 0 3px;
	  text-align: center;
 	}
}

@media only screen and (min-width: 960px) {
	.site-nav ul {
	  max-width: 760px;
	}
}

.nav-fix {
	word-spacing: 1px;
}

.bullet {
  font-size: 0.3em;
}









hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #24353e;
}

.nav-wrapper hr {
    width: 88%;
    margin: auto;
    border: none;
    border-bottom: 1px solid #24353e;
}
