// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel.fade {
     opacity: 1;
}
.carousel.fade .item {
    transition: opacity ease-out .7s;
    left: 0;
    opacity: 0; /* hide all slides */
    top: 0;
    position: absolute;
    width: 100%;
    display: block;
}
.carousel.fade .item:first-child {
    top: auto;
    opacity: 1; /* show first slide */
    position: relative;
}
.carousel.fade .item.active {
    opacity: 1;
}


/********** INDEX ******/


.gallery-index-wrap {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.gallery-index {
  margin: 50px 0;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.gallery-index-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.gallery-index-wrap:hover .gallery-index {
  opacity: 0.3;
}

.gallery-index-wrap:hover .gallery-index-middle {
  opacity: 1;
}

.gallery-index-text {
  background-color: #24353e;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.gallery-index-text:hover {
  border-radius: 10px;
  text-decoration: none;
  color: #ababab;
  transition: ease .5s;
}

/********** FORM **********/

.form {
  width: 25%;
  margin: 100px auto 0;
}

.btn-tendv {
  color: #FFF;
  background-color: #747474;
  border-color: #5c5c5c;
}

.btn-tendv:hover {
  color: #24353e;
  background-color: #ababab;
  border-color: #8f8f8f;
  transition: ease .5s;
}